<div class="container">
    <header class="well left-align">
        <h1>Project Manager</h1>
    </header>
</div>
<div class="container">
   
<nav class="navbar navbar-default">
<ul class="nav navbar-nav"> 
<li class="navbar-brand" routerLink="/pmaddprj">Add project  </li>
<li class="navbar-brand" routerLink="/pmaddtask"> Add task </li>
<li class="navbar-brand" routerLink="/pmadduser"> Add User  </li>
<li class="navbar-brand" routerLink="/pmviewtask">View task </li>
</ul>
  
</nav>

</div>
<router-outlet></router-outlet>