<div class="container">
    <form id="viewtaskheader">
         
     <div class="row">
        <div class="col-md-2">
            <label>Project</label>
        </div>
        <div class="col-md-2">
            <input type = "text" name = "prjname"  ngModel>
        </div> 
        <div class="col-md-1">
            <button class="btn btn-outline-secondary btn-sm" type="button">Search</button>
        </div> 
        <div class="col-md-2">
            <label>Sort data by</label>
        </div>
        <div class="col-md-1">
            <button class="btn btn-outline-secondary btn-sm" type="button">Start date</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-outline-secondary btn-sm" type="button">End date</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-outline-secondary btn-sm" type="button">Priority</button>
        </div>
        <div class="col-md-1">
             <button class="btn btn-outline-secondary btn-sm" type="button">Completed</button>
        </div>
     </div> 
    </form>  
    <div class="row">
        <div class="col-md-12">
         <label>---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</label>
        </div>
    </div>
     
    <div class="row">
        <div class="col-md-2">
            <h4>Task</h4>   
        </div>      
        <div class="col-md-2">
             <h4>Parent</h4>   
        </div> 
        <div class="col-md-1">
             <h4>Priority</h4>   
        </div> 
        <div class="col-md-2">
            <h4>Start date</h4>   
        </div>
        <div class="col-md-2">
            <h4>End date</h4>   
        </div>    
    </div>
    <div class="row">
        <div class="col-md-2">
            <textarea rows="3" id="taskname"></textarea>
        </div>
        <div class="col-md-2">
            <textarea rows="3" id="taskname"></textarea>  
        </div> 
        <div class="col-md-1">
            <input type="text">  
        </div> 
        <div class="col-md-2">
            <input type="text"> 
        </div>
        <div class="col-md-2">
            <input type="text">    
        </div>
        <div class="col-md-1">
            <button class="btn btn-outline-secondary btn-sm" type="button">Edit</button>
        </div>
        <div class="col-md-1">
            <button class="btn btn-outline-secondary btn-sm" type="button">End Task</button>
        </div>
    </div>
    
</div>